/*projection section:
- when hovering over project image, it should be larger than the others
- bar should stay on screen when scrolling
*/
:root{
    
}
* {
    background-color: 	#e5ecff;
}
.topnav{
    background-color: #b3b3ff;
    overflow: hidden;
    padding: 12px 18px;
    display:flex;
    flex-wrap: nowrap;
    justify-content: flex-end;
    gap: 10px;

}
.topnav a{
color:white;
background-color: #b3b3ff;
font-size: 18px;
text-decoration: none;
font-weight: bold;


}
#profile-image{
    width: 125px;
    float: left;
    padding: 20px;



}
img{
width:85px;


}

.intro {
    padding: 10px;
}
#about-me h1{
color: #7979ec;
font-family: tangerine, cursive; 
font-size: 50px;
}
#projects h1{
    color:#5656e2;
    font-family:tangerine, cursive;
    font-size: 48px;
}
.card{
    display:flex;
    flex-direction:row;
    flex-wrap:wrap;
    justify-content: space-around;
}
