/*projection section:
- when hovering over project image, it should be larger than the others
- bar should stay on screen when scrolling
*/

* {
    background-color: 	#e5ecff;
}
.topnav{
    background-color: #b3b3ff;
    overflow: hidden;
    padding: 12px 18px;
    display:flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    gap: 15px;

}
.topnav a{
color:white;
background-color: #b3b3ff;
font-size: 18px;
text-decoration: none;
font-weight: bold;
gap: 20px;


}
#profile-image{
    width: 125px;
    float: left;
    padding: 20px;
}
img{
width:85px;
}

.intro {
    padding: 10px;
}
#about-me h1{
color: #7979ec;
font-family: tangerine, cursive; 
font-size: 50px;
margin-bottom: -8px;
}
p{
line-height: 25px;
}
#projects h1{
    color:#5656e2;
    font-family:tangerine, cursive;
    font-size: 45px;
    

}
.card{
    display:inline-block;
    text-align: center;
    padding: 0px 25px ; 
    margin-left:100px;
}
.card h4{
margin-bottom: -20px;
}
#contact{
position:absolute;  
padding: 15px;
bottom: 0;
right: 0;
display: flex;
gap: 10px;
top:400px;
}
#contact a{
text-decoration: none;
color:#5656e2;
}
#contact :hover{
    color: #b3b3ff;
  text-shadow:0px 0px 3px #e5ecff;
}
.card img:hover{
transform: scale(2);
}

